[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
python-decouple = "*"
faker = "*"
factory-boy = "*"
pillow = "*"
coverage = "*"
coveralls = "*"
django-filter = "*"

[requires]
python_version = "3.8"
